name: Go

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: ["1.25.4"]

    steps:
      - uses: actions/checkout@v5
      - name: Setup Go ${{ matrix.go-version }}
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
      - name: Display Go version
        run: go version

  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: ["1.25.4"]

    steps:
      - uses: actions/checkout@v5
      - name: Setup Go ${{ matrix.go-version }}
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
      - name: Run tests
        run: go test ./... -cover -v

  lints:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: ["1.25.4"]

    steps:
      - uses: actions/checkout@v5
      - name: Setup Go ${{ matrix.go-version }}
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
      - name: lint code
        run: |
          go install golang.org/x/lint/golint@latest
          golint ./... --set_exit_status

  verify-modules:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: ["1.25.4"]

    steps:
      - uses: actions/checkout@v5
      - name: Setup Go ${{ matrix.go-version }}
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
      - name: verify go modules
        run: go mod verify
